@model DTE_Project.Models.MstState
@{
    ViewData["Title"] = "State Master";
    Layout = "~/Views/Shared/_MainMaster.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>State Master</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Master</a></li>
            <li class="breadcrumb-item"><a href="#">Location Master</a></li>
            <li class="breadcrumb-item active"><a href="#">State Master</a></li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header">

        <div class="col-md-8">
            <h4 class="card-title">
                Edit State
            </h4>
        </div>
        <div class="col-md-4 text-end">
            <a asp-action="Index" class="btn btn-primary shadow sharp me-1">
                Go Back
            </a>
        </div>


    </div>

    <div class="card-body">
        <form asp-action="Edit" id="FormStateMaster" class="pt_upld_page_frm">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <input type="hidden" asp-for="StateId" />
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="StateNameEng" class="control-label">Enter State Name (In English)</label><span style="color: red;">*</span>
                        <input asp-for="StateNameEng" placeholder="Enter State Name (In English)" required data-msg="State Name (In English)" autocomplete="off" class="form-control" onkeypress="return AlphabetOnly(event);" />
                        <span asp-validation-for="StateNameEng" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="StateNameHin" class="control-label">राज्य का नाम दर्ज करे( (हिंदी में))</label><span style="color: red;">*</span>
                        <input asp-for="StateNameHin" placeholder="राज्य का नाम (हिंदी में)" autocomplete="off" class="form-control" required data-msg="राज्य का नाम (हिंदी में)" onkeypress="return HindiLettersOnly(event);" />
                        <span asp-validation-for="StateNameHin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="StateCode" class="control-label">Enter State Code No.</label><span style="color: red;">*</span>
                        <input asp-for="StateCode" placeholder="Enter State Code No." autocomplete="off" class="form-control" pattern=".{2,}" required title="Code No. must be at least 2 digit." data-msg="Code No." onkeypress="return NumberOnly(event);" onchange="return countCharacters();" />
                        <span asp-validation-for="StateCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <div class="form-group form-check">
                        <label class="form-check-label"> Status </label>
                            <input class="form-check-input" asp-for="IsActive" />
                      
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" id="submit-update-btn" value="Update" class="btn btn-outline-primary shadow btn-rounded" />
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>